/*SITE STYLING*/
@font-face {
    font-family:galderglynn;
    src: url(fonts/galderglynn.eot); /* EOT file for IE */
}

@font-face {
    font-family:galderglynn;
    src: url(fonts/galderglynn.ttf); /* TTF file for CSS3 browsers */
}

html, body {
  margin:0;
  padding:0;
}

p {font-family:sans-serif;}

a:link {color: #F3F3D2;}
a:visited {color: #F3F3D2;}
a:hover {color: #E2F415;}


/*HEADER STYLING*/
.masthead {
    padding: 6em 0;
    background-image: url('images/chalk2.jpg');
    background-size: 100% 500px;
    background-repeat: no-repeat;
}

.mastheadtitle {
    font-family:galderglynn;
    text-align: center;
    color: #F3FAEB;
    font-size: 4em;
    font-weight: 900;
    margin-bottom: 0.1em;
}

.mastheadsubtitle {
    text-align: center;
    color: #EAECA5;
    font-family:galderglynn;
    font-size: 1em;
    margin-top: -0.9em;
}

/*BODY STYLING*/
.introduction,
.importance,
.history,
.smalldetails,
.footer {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.introduction > h1 {
    font-family:galderglynn;
}

.importance > h1 {
    font-family:galderglynn;
}


.history > h1 {
    font-family:galderglynn;
}

.smalldetails > h1 {
    font-family:galderglynn;
}

.smalldetails > h2 {
    font-family:galderglynn;
    font-size: .8em;
    font-weight: bold;
    line-height: .05;
    color: #F3F3D2;
    text-shadow: 0 0 2px #000000;
}

/*FOOTER STYLING*/
.footer {
    max-width: 100%;
    height: 10em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #4C4C4C;
}


.footer > p {
    font-family:galderglynn;
    color: white;
    letter-spacing: 0.1em;
}

.social > li {
    text-align: center;
    display: inline-block;
    letter-spacing: 0.05em;
}



